# Editable forks from your GitHub (main branch)
git+https://github.com/sagar-nexapp/openwisp-users.git@main#egg=openwisp_users
git+https://github.com/sagar-nexapp/openwisp-utils.git@main#egg=openwisp_utils[rest,celery,channels]

# Third-party libraries
markdown~=3.8.2
jsonfield>=2.1.0
